<div class="card">
  <h2 style="text-align:center;">Tasks</h2>
  <div style="background-color:#bec8d8; text-align:center">
    <h4>Today</h4>
  </div>

  <p>Skype with <b>Mladen</b>
  <img src="../../../assets/img/avatars/2.jpg" class="float-right" style="width:20%; border-radius:50%;">

  </p>
  <span>
    <span class="glyphicon glyphicon-calendar">1-2pm</span>
    <a href="#">Details<span class="glyphicon glyphicon-arrow-right"></span></a>

  </span>

  <hr>

  <div style="background-color:#bec8d8; text-align:center">
    <h4>Tommorow</h4>
  </div>

  <p>Meeting with <b>Lucas</b>
  <img src="../../../assets/img/avatars/4.jpg" class="float-right" style="width:20%; border-radius:50%;">

  </p>
  <span>
    <span class="glyphicon glyphicon-calendar">1-3pm</span>
    <a href="#">Details<span class="glyphicon glyphicon-arrow-right"></span></a>

  </span>
  <hr>
  <div style="background-color:#bec8d8; text-align:center">
    <h4>Friday</h4>
  </div>

  <p>Lunch with <b>Edin</b>
  <img src="../../../assets/img/avatars/1.jpg" class="float-right" style="width:20%; border-radius:50%;">

  </p>
  <span>
    <span class="glyphicon glyphicon-calendar">1-3pm</span>
    <a href="#">Details<span class="glyphicon glyphicon-arrow-right"></span></a>

  </span>

</div>
