<div class="card">
  <div class="important" style="border-style:solid;border-color:red; margin-left:1cm;">
    <h2>News Title</h2>
    <p>
      Lorem ipsum dolor sit amet, sit no utamur perfecto convenire, id nisl dicta liberavisse mel, eam diam necessitatibus no. Ea aeque persius vix, atqui latine mei et, no sea tation postea mnesarchum. Mea inimicus hendrerit in. No quod mutat movet cum, no mea ignota quodsi volutpat. Sit possim sapientem te, ut esse petentium sed, mei ex nobis electram intellegebat. Prima dolorem sed cu.
      Id zril dolore copiosae cum. Eam eu atqui electram, qui ad cibo idque maluisset. Vim ne bonorum voluptua, eu vix etiam viris, eam erant theophrastus cu. No omnium imperdiet incorrupte eum, an aliquando eloquentiam pri, per ex sapientem accusamus consequat. Meis omittantur est ad, quas splendide scriptorem ut quo.
      Mei wisi animal equidem an, vel mundi euripidis reformidans te. Eu alii elitr tempor usu. Ex homero quodsi est, in pro docendi mediocritatem, fastidii sadipscing nec et. Mel forensibus sententiae ne. Purto option fabulas no mel. Mei ad inani falli ignota, vim ea inani partem altera, ut has debet deterruisset.
  </p>
  <hr>
  </div>
  <div style="margin-left:1cm;">
    <h2>News Title</h2>
    <p>
      Lorem ipsum dolor sit amet, sit no utamur perfecto convenire, id nisl dicta liberavisse mel, eam diam necessitatibus no. Ea aeque persius vix, atqui latine mei et, no sea tation postea mnesarchum. Mea inimicus hendrerit in. No quod mutat movet cum, no mea ignota quodsi volutpat. Sit possim sapientem te, ut esse petentium sed, mei ex nobis electram intellegebat. Prima dolorem sed cu.
      Id zril dolore copiosae cum. Eam eu atqui electram, qui ad cibo idque maluisset. Vim ne bonorum voluptua, eu vix etiam viris, eam erant theophrastus cu. No omnium imperdiet incorrupte eum, an aliquando eloquentiam pri, per ex sapientem accusamus consequat. Meis omittantur est ad, quas splendide scriptorem ut quo.
      Mei wisi animal equidem an, vel mundi euripidis reformidans te. Eu alii elitr tempor usu. Ex homero quodsi est, in pro docendi mediocritatem, fastidii sadipscing nec et. Mel forensibus sententiae ne. Purto option fabulas no mel. Mei ad inani falli ignota, vim ea inani partem altera, ut has debet deterruisset.
  </p>
  <hr>
  </div>
</div>
