.card-top {
    margin-top: 21px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #c2cfd6;
}
.card {
    margin: 0 0 10px 0;
    
}

.news-card-body {
    padding: 0;
}

.important-news {
    background: #963a3a;
}

.btn {
    margin: 5px 0 0 5px;
}