.col-md-3 {
    padding: 0;
}

.card-body {
    padding: 6px 6px 6px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #D8D8D8
}

.fa {
    font-size: 130%;
    padding: 0 4px;
}

h6, p {
    margin: 0;
}