<div class="container">
<div class="main1">
<div class="sidebar-left col-md-3">
        <linkos-about-company class="col-md-12 "></linkos-about-company>
        <linkos-about-user class="col-md-12"></linkos-about-user>
        <linkos-activ-users class="col-md-12"></linkos-activ-users>
</div>

<linkos-company-news class="col-md-6"></linkos-company-news>

<div class="sidebar-right col-md-3">
        <linkos-clock class="col-md-12"></linkos-clock>
        <linkos-calendar class="col-md-12"></linkos-calendar>
        <linkos-tasks class="col-md-12"></linkos-tasks>
</div></div></div>
