<div class="card">
  <h4>Active users</h4>
  <ul>
    <li>
      Edin Dzeko
      <a href="#"><span class="glyphicon glyphicon-envelope"></span></a>
      <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
    </li><p><i>Founder</i></p>
    <li>
      John Doe
      <a href="#"><span class="glyphicon glyphicon-envelope"></span></a>
      <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
    </li><p><i>Manager</i></p>
    <li>
      Jane Smith
      <a href="#"><span class="glyphicon glyphicon-envelope"></span></a>
      <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
    </li><p><i>HR</i></p>
    <li>
      Mickey Mouse
      <a href="#"><span class="glyphicon glyphicon-envelope"></span></a>
      <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
    </li><p><i>Developer</i></p>

    <li>
      Mladen Solomun
      <a href="#"><span class="glyphicon glyphicon-envelope"></span></a>
      <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
    </li><p><i>Music Editor</i></p>
    <li>
      Betty Smith
      <a href="#"><span class="glyphicon glyphicon-envelope"></span></a>
      <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
    </li><p><i>Database Manager</i></p>
  </ul>
</div>
