<div class="animated fadeIn">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">Dio koji rade svi kandidati</h1>
      <p class="lead">
        Na dashboardu konstruisati layout i postaviti 7 angular komponenti na mjesta prema slici. Komponente snimati u u app/components
        folderu sa prefixom linkos- npr u folder linkos-about-user smjestiti komponentu "About user".

      </p>
    </div>
  </div>


  <img src="assets/img/dashboard.png" class="w-100" alt="dashboard">
  <div>
    <h2>Opis komponenti</h2>
  </div>
  <div>
    <dl>
      <dt> About company</dt>
      <dd>Prikazati naziv adresu broj tel. kompanije</dd>
      <dt>
        About user
      </dt>
      <dd>
        Prikazati sliku korisnika ime prezime i ulogu u kompaniji te tri linka sa ikonama: za podesenja, poruke i profil. Primjer:
        <br/>
        <figure class="figure">
          <img src="assets/img/about_user.PNG" class="figure-img img-fluid rounded" alt="about_user" />
          <figcaption class="figure-caption">Primjer about user.</figcaption>
        </figure>
      </dd>

      <dt>
        Active users - chat
      </dt>
      <dd>
        Lista korisnika sa imenom i prezimenom te ulogom u kompaniji i dva linka sa ikonama za slanje poruke i slanje emaila korisniku
      </dd>
      <dt>
        Company news
      </dt>
      <dd>
        Kartice sa naslovom i opisom vjesti i obavjestenja imaju dvije kategorije redovna i vazna obavjestenja bojom naglasiti vazna
        obavjestanja. Trebaju biti sortirana po datumu da su najnovija na vrhu
      </dd>
      <dt>
        Clock
      </dt>
      <dd> Digitalni sat koji pokazuje realno vrijeme (bez refresha) sa datumom ispod</dd>
      <dt>
        Calendar
      </dt>
      <dd>
        Kalendar sa oznacenim eventima (event ima naziv vrijeme i lokaciju). Iskoristiti neki od ova dva kalendara
        <a href="https://github.com/mattlewis92/angular-calendar">https://github.com/mattlewis92/angular-calendar</a>
        <a href="https://github.com/angular-ui/ui-calendar">https://github.com/angular-ui/ui-calendar</a>
      </dd>
      <dt>
        Tasks
      </dt>
      <dd>
        Lista zadataka za korisnika sa krticama od kojih svaka sadrzi opis zadatka, vrijeme zadatka, link detalje o tasku.<br/>
        <figure class="figure">
          <img src="assets/img/tasks.PNG" class="figure-img img-fluid rounded" alt="tasks" />
          <figcaption class="figure-caption">Primjer liste zadataka.</figcaption>
        </figure>

      </dd>
    </dl>
  </div>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">Individualni zadaci (Backend i povezivanje sa frontendom)</h1>
      <p class="lead">Vrijedi za sve: Potrebno je napraviti REST Api sa feathersjs nad mysql bazom (nad jednom tabelom). REST api povezati
        sa komponentom da prikazuje podatke koji se dobiju sa Api-ja </p>
    </div>
  </div>



  <div class="card" style="width: 100%;">
    <div class="card-body">
      <h4 class="card-title">Kenan Tendzo</h4>
      <p class="card-text">
        REST API za active users. Uvezati komponentu Active users sa ovim api-jem odnosno prikazati podatke koji se dobiju sa api-ja.
      </p>
    </div>
  </div>

  <div class="card" style="width: 100%;">
    <div class="card-body">
      <h4 class="card-title">Denis Dzafo</h4>
      <p class="card-text">
        REST API za Company news. Uvezati komponentu Company news sa ovim api-jem odnosno prikazati podatke koji se dobiju sa api-ja.
      </p>
    </div>
  </div>
  <div class="card" style="width: 100%;">
    <div class="card-body">
      <h4 class="card-title">Kerim Dragolj</h4>
      <p class="card-text">
        REST API za Calendar. Uvezati komponentu Calendar sa ovim api-jem odnosno prikazati podatke koji se dobiju sa api-ja.
      </p>
    </div>
  </div>
  <div class="card" style="width: 100%;">
    <div class="card-body">
      <h4 class="card-title">Faris Cancar</h4>
      <p class="card-text">
        REST API za Tasks. Uvezati komponentu Tasks sa ovim api-jem odnosno prikazati podatke koji se dobiju sa api-ja.
      </p>
    </div>
  </div>

  <div class="card" style="width: 100%;">
    <div class="card-body">
      <h4 class="card-title">
        Sabahudin Brkan</h4>
      <p class="card-text">
        REST API za About user i About company koji vraca podatke za komponente About user i about company Uvezati komponente sa
        podacima koji se dobiju sa API-ja.
      </p>
    </div>
  </div>


  <dt> Korisni linkovi</dt>
  <dd>
    <ul>
      <li><a href="http://coreui.io/docs/getting-started/introduction/">http://coreui.io/docs/getting-started/introduction/</a>
      </li>
      <li> <a href="https://docs.feathersjs.com/api/databases/sequelize.html">https://docs.feathersjs.com/api/databases/sequelize.html</a>
      </li>
    </ul>
  </dd>

</div>
